<link rel="import" href="../../bower_components/polymer/polymer.html"/>
<link rel="import" href="../../bower_components/core-scaffold/core-scaffold.html"/>
<link rel="import" href="../../bower_components/core-header-panel/core-header-panel.html"/>
<link rel="import" href="../../bower_components/core-toolbar/core-toolbar.html"/>
<link rel="import" href="../../bower_components/core-menu/core-menu.html"/>
<link rel="import" href="../../bower_components/core-menu/core-submenu.html"/>
<link rel="import" href="../../bower_components/core-item/core-item.html"/>
<link rel="import" href="../../bower_components/core-icon/core-icon.html"/>
<link rel="import" href="../../bower_components/paper-tabs/paper-tabs.html"/>
<link rel="import" href="../../bower_components/paper-icon-button/paper-icon-button.html"/>
<link rel="import"  href="../../bower_components/google-map/google-map.html"/>
<link href="../../bower_components/paper-dialog/paper-dialog.html" rel="import"/>
<link href="../../bower_components/paper-dialog/paper-action-dialog.html" rel="import"/>
<link href="../../bower_components/paper-button/paper-button.html" rel="import"/>
<link href="../../font-roboto/roboto.html" rel="import"/>
<link href="../../bower_components/paper-input/paper-autogrow-textarea.html" rel="import"/>
<link href="../../bower_components/paper-input/paper-input-decorator.html" rel="import"/>
<link href="../../bower_components/paper-input/paper-input.html" rel="import"/>
<link href="../../bower_components/core-collapse/core-collapse.html" rel="import"/>
<link href="../../bower_components/core-menu/core-menu.html" rel="import"/>
<link href="../../bower_components/paper-dropdown/paper-dropdown.html" rel="import"/>
<link href="../../bower_components/paper-item/paper-item.html" rel="import"/>
<link rel="import" href="../../bower_components/paper-checkbox/paper-checkbox.html">
<link href="../../bower_components/paper-dropdown-menu/paper-dropdown-menu.html" rel="import"/>
<link rel="import" href="../../bower_components/core-label/core-label.html">

<polymer-element name="app-supervisor">
  <template>
    <style>
      paper-tabs {
        height: 64px;
      }
      .bottom {
        position: fixed;
        z-index: 1000;
        bottom: 0;
        left: 0;
        right: 0;
      }
    </style>
    <core-scaffold>
      <core-header-panel navigation flex mode="seamed">
        <core-toolbar>
          <paper-icon-button icon="arrow-back" onclick="window.location.href = './index.html'"></paper-icon-button>
          <paper-tabs selected="{{mode}}" fill>
            <paper-tab>
              <core-icon icon="create"></core-icon>
            </paper-tab>
            <paper-tab>
              <core-icon icon="toc"></core-icon>
            </paper-tab> 
            <paper-tab>
              <core-icon icon="visibility"></core-icon>
            </paper-tab>
          </paper-tabs>
        </core-toolbar>
        <core-menu flex>
          <template if="{{mode == 0}}" repeat="{{deliveries}}">
            <core-submenu label="{{tw}}" icon="alarm">
              <template repeat="{{dels}}">
                <core-item icon="account-circle" label="{{name}}" selected="{{sel}}" style="color: {{color}}"></core-item>
              </template>
            </core-submenu>
          </template>
          <template if="{{mode == 1}}">
            <core-item icon="home" label="{{warehouse.name}}" style="color: blue"></core-item>
            <template repeat="{{deliveries}}">
              <template repeat="{{dels}}">
                <template repeat="{{step in before}}">
                  <core-item icon="trending-down" label="{{step}}"></core-item>
                </template>
                <core-item icon="account-circle" label="{{name}}" selected="{{sel}}" style="color: {{lateColor}}"></core-item>
                <template repeat="{{step in after}}">
                  <core-item icon="trending-down" label="{{step}}"></core-item>
                </template>
              </template>
            </template>
            <core-item icon="home" label="{{warehouse.name}}" style="color: blue"></core-item>
          </template>
          <template if="{{mode == 2}}" repeat="{{drivers}}">
            <core-item horizontal layout>
              <paper-checkbox for></paper-checkbox>&nbsp;&nbsp;&nbsp; {{}}
              <paper-icon-button icon="create"></paper-icon-button>
            </core-item>
          </template>
        </core-menu>
        <core-toolbar class="bottom">
          <template if="{{mode == 0}}">
            <paper-icon-button icon="add-circle-outline" on-tap="{{toggleNextDialog}}"></paper-icon-button>
            <paper-action-dialog heading="Add a new delivery">
              <paper-input label="First name"></paper-input>
              <paper-input label="Last name"></paper-input>
              <paper-input-decorator label="Address" floatingLabel>
                <paper-autogrow-textarea>
                  <textarea></textarea>
                </paper-autogrow-textarea>
              </paper-input-decorator>
              <paper-dropdown-menu label="Time window's start">
                <paper-dropdown class="dropdown">
                  <core-menu>
                    <template repeat="{{times}}">
                      <paper-item>{{}}</paper-item>
                    </template>
                  </core-menu>
                </paper-dropdown>
              </paper-dropdown-menu>
              <paper-dropdown-menu label="Time window's end">
                <paper-dropdown class="dropdown">
                  <core-menu>
                    <template repeat="{{times}}">
                      <paper-item>{{}}</paper-item>
                    </template>
                  </core-menu>
                </paper-dropdown>
              </paper-dropdown-menu>
              <paper-input label="Package ID"></paper-input>
              <paper-button affirmative>Cancel</paper-button>
              <paper-button affirmative autofocus>Add</paper-button>
            </paper-action-dialog>

            <paper-icon-button icon="remove-circle-outline" on-tap="{{toggleNextDialog}}"></paper-icon-button>
            <paper-action-dialog heading="Delete a Delivery">
              <p>Are you sure you want to delete <strong>CISSE Modou</strong> from the delivery list ?</p>
              <paper-button affirmative>Cancel</paper-button>
              <paper-button affirmative autofocus>Delete</paper-button>
            </paper-action-dialog>

            <paper-icon-button icon="create" on-tap="{{toggleNextDialog}}"></paper-icon-button>
            <paper-action-dialog heading="Change a delivery">
              <paper-input label="First name" value="Modou"></paper-input>
              <paper-input label="Last name" value="CISSE"></paper-input>
              <paper-input-decorator label="Address" floatingLabel>
                <paper-autogrow-textarea>
                  <textarea>11 Avenue Bekar Al-Kountou, 38100 Dakar, Sénégal</textarea>
                </paper-autogrow-textarea>
              </paper-input-decorator>
              <paper-dropdown-menu label="Time window's start">
                <paper-dropdown>
                  <core-menu>
                    <template repeat="{{times}}">
                      <paper-item>{{}}</paper-item>
                    </template>
                  </core-menu>
                </paper-dropdown>
              </paper-dropdown-menu>
              <paper-dropdown-menu label="Time window's end">
                <paper-dropdown>
                  <core-menu>
                    <template repeat="{{times}}">
                      <paper-item>{{}}</paper-item>
                    </template>
                  </core-menu>
                </paper-dropdown>
              </paper-dropdown-menu>
              <paper-input label="Package ID" value="XFKCTU"></paper-input>
              <paper-button affirmative>Cancel</paper-button>
              <paper-button affirmative autofocus>Change</paper-button>
            </paper-action-dialog>

            <paper-icon-button icon="get-app" on-tap="{{toggleNextDialog}}"></paper-icon-button>
            <paper-action-dialog heading="Import a set of deliveries">
              <p>FS VIEW</p>
              <paper-button affirmative>Cancel</paper-button>
              <paper-button affirmative autofocus>Import</paper-button>
            </paper-action-dialog>
          </template>
          <template if="{{mode == 1}}">
            <paper-icon-button icon="send" on-tap="{{toggleNextDialog}}"></paper-icon-button>
            <paper-action-dialog heading="Send a roadmap">
              <paper-dropdown-menu label="Driver">
                <paper-dropdown>
                  <core-menu>
                    <template repeat="{{drivers}}">
                      <paper-item>{{}}</paper-item>
                    </template>
                  </core-menu>
                </paper-dropdown>
              </paper-dropdown-menu>
              <br/>
              <paper-button affirmative>Cancel</paper-button>
              <paper-button affirmative autofocus>Send</paper-button>
            </paper-action-dialog>
          </template>
        </core-toolbar>
      </core-header-panel>
      <div tool>
        Supervision
      </div>
      <div class="content">
        <google-map fit latitude="45.7600" longitude="4.8400" zoom="13">
          <template if="{{mode == 0}}" repeat="{{deliveries}}">
            <template repeat="{{dels}}">
              <google-map-marker latitude="{{lat}}" longitude="{{long}}" icon="http://maps.google.com/mapfiles/ms/icons/{{color}}-dot.png" title="{{name}}">
                <p>{{name}}</p>
              </google-map-marker>
            </template>
          </template>
          <template if="{{mode != 0}}">
            <google-map-marker latitude="{{warehouse.lat}}" longitude="{{warehouse.long}}" icon="http://maps.google.com/mapfiles/ms/icons/blue-dot.png" title="{{warehouse.name}}">
              <p>{{warehouse.name}}</p>
            </google-map-marker>
            <template repeat="{{deliveries}}">
              <template repeat="{{dels}}">
                <google-map-marker latitude="{{lat}}" longitude="{{long}}" icon="http://maps.google.com/mapfiles/ms/icons/{{lateColor}}-dot.png" title="{{name}}">
                  <p>{{name}}</p>
                </google-map-marker>
              </template>
            </template>
          </template>
        </google-map>
      </div>
    </core-scaffold>
  </template>
  <script>
    Polymer({
        toggleNextDialog: function(e) {
          var d = e.target.nextElementSibling;
          if (!d) {
            return;
          }
          d.toggle();
        },
        mode: 0,
        warehouse: {
          name: "Dept. Info. INSA Lyon",
          lat: "45.781582",
          long: "4.872940"
        },
        times: [
          "6:00",
          "6:30",
          "7:00",
          "7:30",
          "8:00",
          "8:30",
          "9:00",
          "9:30",
          "10:00",
          "10:30",
          "11:00",
          "11:30",
          "12:00",
          "12:30",
          "13:00",
          "13:30",
          "14:00",
          "14:30",
          "15:00",
          "15:30",
          "16:00",
          "16:30",
          "17:00",
          "17:30",
          "18:00",
          "18:30",
          "19:00",
          "19:30",
          "20:00",
          "20:30",
          "21:00"
        ],
        drivers: [ "Bob", "Bobby" ],
        deliveries: [
          {
            tw: "08:00 - 10:00",
            dels: [
              {
                name: "LATAPY Remi",
                lat: "45.760828", long: "4.869021",
                color: "purple",
                lateColor: "green",
                before: [ "turn at X" ],
                after: [ "continue on Y", "take Z" ]
              },
            {
              name: "RICARD Robin",
              lat: "45.770828", long: "4.869021",
              color: "purple",
              lateColor: "green",
              after: [ "u-turn on A", "left on B" ]
            }
            ],
          },
        {
          tw: "10:00 - 12:00",
          dels: [
            {
              name: "CISSE Modou",
              lat: "45.760828", long: "4.859021",
              color: "orange",
              lateColor: "green",
              after: [ "right on C" ]
            },
          {
            name: "OGER Edouard",
            lat: "45.750828", long: "4.849021",
            color: "orange",
            lateColor: "green",
            after: [ "continue on D for 1km", "take E" ]
          }
            ],
        },
          {
            tw: "14:00 - 16:00",
            dels: [
              {
                name: "BRUNAT Romain",
                lat: "45.779070", long: "4.874000",
                color: "green",
                lateColor: "red",
                after: [ "zigzag in F" ]
              },
            {
              name: "SIVANANDAN Bruno",
              lat: "45.774828", long: "4.865121",
              color: "green",
              lateColor: "red",
              after: [ "jump over the wall" ]
            }
            ],
          },
        ]
    });
  </script>
</polymer-element>
